body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    margin: 0;
    padding: 20px;
    color: #1f2933;
    line-height: 30px;
    letter-spacing: 1px;
    word-spacing: 2px;
}

section {
    background: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.table-wrapper {
    overflow-x: auto;
    margin-bottom: 30px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    min-width: 500px;
    table-layout: fixed;
    background: white;
}

th,
td {
    border: 1px solid #e5e7eb;
    padding: 8px;
    text-align: left;
    overflow: hidden;
    word-wrap: break-word;
}

th:first-child,
td:first-child {
    width: 30px;
    text-align: center;
}

th:nth-child(2),
td:nth-child(2) {
    width: 200px;
    min-width: 100px;
}

th:nth-child(3),
td:nth-child(3),
th:last-child,
td:last-child {
    width: calc((100% - (30px + 100px)) / 2);
}

th {
    background: #eef2ff;
}

tr {
    transition: all 0.2s;
}

tr:hover {
    background: #f1f5f9;
}

@media(max-width:1000px) {
    body {
        font-size: 14px;
        line-height: 25px;
        padding: 0;
        padding-right: 10px;
        text-align: justify;
        background: white;
    }

    th:nth-child(3),
    td:nth-child(3),
    th:last-child,
    td:last-child {
        width: 350px;
    }
}