body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    color: #1f2933;
    line-height: 30px;
    letter-spacing: 1px;
    font-size: 20px;
    word-spacing: 2px;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.2s;
    font-weight: 700;
}

a:hover {
    color: #1272d1;
}

.table-wrapper {
    overflow-x: auto;
    margin-bottom: 30px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    min-width: 500px;
    table-layout: fixed;
    background: white;
}

th,
td {
    border: 1px solid #e5e7eb;
    padding: 8px;
    text-align: left;
    overflow: hidden;
    word-wrap: break-word;
}

th:first-child,
td:first-child {
    width: 30px;
    text-align: center;
}

th:nth-child(2),
td:nth-child(2),
th:nth-child(3),
td:nth-child(3) {
    width: 200px;
    min-width: 100px;
}

th:nth-child(4),
td:nth-child(4),
th:last-child,
td:last-child {
    width: calc((100% - (30px + 200px)) / 2);
}

th {
    background: #eef2ff;
}

tr {
    transition: all 0.2s;
}

tr:hover {
    background: #f1f5f9;
}

#modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#modal>div {
    background: #fff;
    padding: 20px;
    max-width: 500px;
    margin: 15px;
    width: 90%;
    border-radius: 8px;
}

#modal-close {
    float: right;
    cursor: pointer;
}

#results li {
    cursor: pointer;
    padding: 6px 10px;
    border-bottom: 1px solid #e5e7eb;
}

#results li:hover {
    background: #f1f5f9;
}

#search-box input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

#results ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

@media(max-width:1000px) {
    body {
        line-height: 45px;
        text-align: justify;
        font-size: 35px;
        background: white;
        padding: 40px;
    }

    th:nth-child(3),
    td:nth-child(3),
    th:last-child,
    td:last-child {
        width: 350px;
    }
}